/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro

// &lt {
//         flavor = "hold-preferred";
// };

/*
TODO:
- Hard combos to press:
        - windows + tab
        - any combo with alt
*/

/ {
        behaviors {
                as: auto_shift {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <200>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {  // 0
// ---------------------------------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |                                  |  Y  |   U  |  I  |  O  |  P  |   \  |
// | SHFT |  A  |  S  |D/ViD|F/SYM|  G  |                                  |  H  |   J  |  K  |  L  |  ;  |   '  |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |                                  |  N  |   M  |  ,  |  .  |  /  | ALTTB|
// |  ESC | WIN | ALT | NONE| 10K |     | BKSP | | DEL |      | RET | SPAC |     | ARRBR| CAPW| FUN |     |      |
                        bindings = <
    AS(TAB)    AS(Q)     AS(W)     AS(E)    AS(R)  AS(T)                                           AS(Y)  AS(U)  AS(I)       AS(O)    AS(P)     &kp BSLH
    &kp LSHFT  AS(A)     AS(S)     &lt 2 D  &kp F  AS(G)                                           AS(H)  AS(J)  AS(K)       AS(L)    AS(SEMI)  AS(SQT)
    &kp LCTRL  AS(Z)     AS(X)     AS(C)    AS(V)  AS(B)                                           AS(N)  AS(M)  AS(COMMA)   AS(DOT)  AS(FSLH)  &kp RA(TAB)
    &kp ESC    &kp LGUI  &kp LALT  &none    &mo 3         &kp BSPC  &kp DEL    &kp RET  &kp SPACE         &mo 1  &caps_word  &sl 4    &none     &none
                        >;
                };

                arrow_sym {  // 1
// -------------------------------------------------------------------------------------------------------------
// |     |     |  '  |  "  |  `  |     |                                   |     |     |  ↑  |     |     |     |
// |     |     |  -  |  =  |  +  |  ~  |                                   |     |  ←  |  ↓  |  →  |     |     |
// |     |     |  \  |  /  |  _  |     |                                   |     |     |     |     |     |     |
// |     |     |     |     |     |        |     |     |-----|     |     |        |     |     |     |     |     |
                        bindings = <
    &trans  &trans  &kp SQT   &kp DQT   &kp GRAVE &trans                                         &trans    &kp PG_DN &kp UP    &kp PG_UP  &trans   &trans
    &trans  &trans  &kp MINUS &kp EQUAL &kp PLUS  &kp TILDE                                      &kp HOME  &kp LEFT  &kp DOWN  &kp RIGHT  &kp END  &trans
    &trans  &trans  &kp BSLH  &kp FSLH  &kp UNDER &trans                                         &trans    &trans    &trans    &trans     &trans   &trans
    &trans  &trans  &trans    &trans    &trans                &trans  &trans    &trans  &trans             &trans    &trans    &trans     &trans   &trans
                        >;
                };

                vd_media {  // 2
// -------------------------------------------------------------------------------------------------------------
// |     |     |     |     |     |     |                                   |     |VOL ↓|MUTE  |VOL ↑|     |     |
// |     |     |     |     |JARVS|     |                                   |     |VD L |WINTAB|VD R |     |     |
// |     |     |     |     |     |     |                                   |     |PREV |PLAY  |NEXT |     |     |
// |     |     |     |     |     |        |     |     |-----|     |     |        |     |      |     |     |     |
                        bindings = <
    &trans  &trans  &trans  &trans  &trans        &trans                                      &trans  &kp C_VOL_DN     &kp C_MUTE &kp C_VOL_UP      &trans  &trans
    &trans  &trans  &trans  &trans  &kp LA(SPACE) &trans                                      &trans  &kp LC(LG(LEFT)) &LG(TAB)   &kp LC(LG(RIGHT)) &trans  &trans
    &trans  &trans  &trans  &trans  &trans        &trans                                      &trans  &kp C_PREV       &kp C_PP   &kp C_NEXT        &trans  &trans
    &trans  &trans  &trans  &trans  &trans                 &trans  &trans    &trans  &trans           &trans           &trans     &trans            &trans  &trans
                        >;
                };

                brackets_and_10_key {  // 3
// -------------------------------------------------------------------------------------------------------------
// |     |     |     |  {  |  }  |     |                                   |     | N7  | N8  | N9  |     |     |
// |     |     |     |  (  |  )  |     |                                   |     | N4  | N5  | N6  |     |     |
// |     |     |     |  [  |  ]  |     |                                   |     | N1  | N2  | N3  |     |     |
// |     |     |     |     |     |        |     |     |-----|     |     |        |  ,  | N0  |  .  |     |     |
                        bindings = <
    &trans  &trans  &trans  &kp LBRC  &kp RBRC  &trans                                      &trans  AS(N7)     AS(N8)  AS(N9)   &trans  &trans
    &trans  &trans  &trans  &kp LPAR  &kp RPAR  &trans                                      &trans  AS(N4)     AS(N5)  AS(N6)   &trans  &trans
    &trans  &trans  &trans  &kp LBKT  &kp RBKT  &trans                                      &trans  AS(N1)     AS(N2)  AS(N3)   &trans  &trans
    &trans  &trans  &trans  &trans    &trans             &trans  &trans    &trans  &trans           &kp COMMA  &kp N0  &kp DOT  &trans  &trans
                        >;
                };

                func_1shot {  // 4
// -------------------------------------------------------------------------------------------------------------
// |     |     |     |     |     |     |                                   |     | F7  | F8  | F9  | F10 |     |
// |     |     |     |     |     |     |                                   |     | F4  | F5  | F6  |     |     |
// |     |     |     |     |     |     |                                   |     | F1  | F2  | F3  |     |     |
// |     |     |     |     |     |        |     |     |-----|     |     |        | F11 | F12 |NONE |     |     |
                        bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &kp F7  &kp F8  &kp F9  &kp F10 &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &kp F4  &kp F5  &kp F6  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &kp F1  &kp F2  &kp F3  &trans  &trans
    &trans  &trans  &trans  &trans  &trans           &trans  &trans    &trans  &trans           &kp F11 &kp F12 &none   &trans  &trans
                        >;
                };
        };


// -------------------------------------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |                                   |  6  |  7  |  8  |  9  | 10  | 11  |
// | 12  | 13  | 14  | 15  | 16  | 17  |                                   | 18  | 19  | 20  | 21  | 22  | 23  |
// | 24  | 25  | 26  | 27  | 28  | 29  |                                   | 30  | 31  | 32  | 33  | 34  | 35  |
// | 36  | 37  | 38  | 39  | 40  |        | 41  | 42  |-----| 43  | 44  |        | 45  | 46  | 47  | 48  | 49  |
        combos {
                compatible = "zmk,combos";
                // ----- COPY/PASTE -----
                combo_copy {
                        timeout-ms = <50>;
                        key-positions = <26 27>;
                        bindings = <&kp LC(C)>;
                };
                combo_shift_copy {
                        timeout-ms = <50>;
                        key-positions = <25 26 27>;
                        bindings = <&kp LS(LC(C))>;
                };
                combo_paste {
                        timeout-ms = <50>;
                        key-positions = <26 28>;
                        bindings = <&kp LC(V)>;
                };
                combo_shift_paste {
                        timeout-ms = <50>;
                        key-positions = <25 26 28>;
                        bindings = <&kp LS(LC(V))>;
                };

                // ----- BLUETOOTH PROFILES -----
                combo_bt_0 {
                        timeout-ms = <50>;
                        key-positions = <0 1>;
                        bindings = <&bt BT_SEL 0>;
                };
                combo_bt_1 {
                        timeout-ms = <50>;
                        key-positions = <0 2>;
                        bindings = <&bt BT_SEL 1>;
                };
                combo_bt_2 {
                        timeout-ms = <50>;
                        key-positions = <0 3>;
                        bindings = <&bt BT_SEL 2>;
                };
                combo_bt_3 {
                        timeout-ms = <50>;
                        key-positions = <0 4>;
                        bindings = <&bt BT_SEL 3>;
                };
                combo_bt_4 {
                        timeout-ms = <50>;
                        key-positions = <0 5>;
                        bindings = <&bt BT_SEL 4>;
                };
                combo_bt_5 {
                        timeout-ms = <50>;
                        key-positions = <0 6>;
                        bindings = <&bt BT_SEL 5>;
                };
                // ----- BLUETOOTH CLEAR -----
                combo_bt_clr {
                        timeout-ms = <50>;
                        key-positions = <0 41>;
                        bindings = <&bt BT_CLR>;
                };
                combo_bt_clr_all {
                        timeout-ms = <50>;
                        key-positions = <0 42>;
                        bindings = <&bt BT_CLR_ALL>;
                };
                // ----- SOFT OFF -----
                combo_soft_off {
                        timeout-ms = <50>;
                        key-positions = <37 38 39 40>;
                        bindings = <&soft_off>;
                };
        };
};
